* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /* START NAVBAR */
  nav {
    width: 70%;
    margin: 0 auto;
  }
  
  nav .menu {
    height: 60px;
    background: #36363f;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    text-align: center; /* center the li */
  }
  
  nav .menu li {
    display: inline-block; 
  }
  
  nav .menu li a {
    font-family: arial, sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
    vertical-align: middle;
    padding: 20px;
    transition: all 0.5s;
  }
  
  nav .menu li:hover > a {
    background: #25252B;
    transition: all 0.5s;
    color: #ccc;
    border-radius: 50px;
  }
  
  /* sub-menus */
  
  .menu li > ul {
    position: absolute;
    margin-left: -2.21%;
    display: none;
    animation: slide 0.1s linear 0s normal;
  }
  
  .menu li > ul > li {
    display: block;
    background: #25252b;
    border-top: 1px solid #25252f;
  }
  
  .menu li > ul > li > a {
    display: block;
    padding: 5px 12px;
  }
  
  .menu li:hover > ul {
    display: block;
    animation: slide 0.1s linear 0s normal;
  }
  
  .menu li:hover > ul li:hover > a {
    background: #18181F;
  }
  
  
  
  @keyframes slide {
    from  { transform: rotateY(35deg) skewX(10deg); }
    to     { transform: rotateY(0deg) skewX(0deg); }
  }